:root {
    --primary-tomato: hsl(4, 100%, 67%);
    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --neutral-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--neutral-charcoal-grey);
}

p {
    font-size: 1rem;
}

.attribution {
    font-size: 1rem;
    text-align: center;
    padding: .625rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    transition: color 0.3s ease;
}

.attribution a:hover {
    color: hsl(228, 34%, 66%);
}